@font-face {
    font-family: 'Montserrat Extrabold';
    src: url('../fonts/montserrat-extrabold.eot');
    src: url('../fonts/montserrat-extrabold.eot') format('embedded-opentype'),
	    url('../fonts/montserrat-extrabold.woff2') format('woff2'),
	    url('../fonts/montserrat-extrabold.woff') format('woff'),
	    url('../fonts/montserrat-extrabold.ttf') format('truetype'),
	    url('../fonts/montserrat-extrabold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: 'Montserrat Extrabold', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: normal;
}

body {
    font-family: 'Open Sans', sans-serif;
}

p {
    margin-bottom: 30px;
}

label {
    margin-left: 3px;
    margin-right: 10px;
    font-weight: normal;
}

.chart {
    max-width: 1000px;
}

.connect-logo {
    width: 220px;
}

.vertical-center {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.top-buffer {
    margin-top: 10px;
}
